body {
    background-color: teal;
    color: magenta;
    font-family: 'Comic Sans MS', Tahoma, Geneva, sans-serif;
}

#title-text {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

#output-txt {
    border-style: solid;
    border-width: thin;
    border-color: greenyellow;
    padding: 7px 7px 7px 7px;
    white-space: normal;
    color: yellow;
}

.fullwidth {
    display: block;
    width: 100%;
}

.halfwidth {
    width: 49%;
}

.form-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

#container {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes marquee {
    0%   { text-indent: 430px }
    100% { text-indent: -685px }
}

@-webkit-keyframes marquee {
    0%   { text-indent: 430px }
    100% { text-indent: -685px }
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 17s linear infinite;
    -webkit-animation: marquee 17s linear infinite;
    color: blue;
}

.marquee:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
